 /*****************All Environment list style **********
  *********yufan add 07/22/2015******************/
    .all-env {
        #addButton{
        margin-left: 11px;
        }
        .well{
        margin-left:11px;
        width:98%;
        }
        .env {
        height: 8%;
        width: 100%;
        text-align: left;
        float:left;
        border: 1px solid $light-gray;
        margin-top: 5px;
    }
        .env:hover{ 
        background-color:$lighter-gray2;
        cursor:pointer;
    }

        .env-list {
        h6 {
        margin: 1% 1%;
        color:$blue;
        font-weight: 600;
        }
            ul {
            list-style:none;
            padding-left: 0;
            li {
                margin: 1%;
                text-align: left;
                p {
                    color: $light-gray;
                     margin: 0 1%;
                }
            }
        }
        ol  {
             padding-left: 0;
             margin-left: 0;
            li {
                float: left;
                list-style: none;
                font-size: 14px;
                color: $dark-gray;
            }
        }

    }
}
     
 
      
      