/* this file is newui base scss */


@import 'base-variables';

/* Font Icon */
span[class^="ilabicon-"], span[class*=" ilabicon-"] {
	cursor: pointer;
	font-size: 20px;
	color: $blue;
}
span[class^="intelicon-"].clickable, span[class*="intelicon-"].clickable {
	font-size: 20px;
	cursor: pointer;
	color: $blue;
}
span[class^="intelicon-"].disabled, span[class*="intelicon-"].disabled {
	font-size: 20px;
	cursor: not-allowed;
	color: $gray;
}
/* A */
a[ng-click] {
	cursor: pointer;
}

/* Button */
.btn {
	min-width: $btn-min-width;
	height: $btn-height;
}
.btn-approve {
	@include button-variant-override($green, $green, $med-dark-green, $med-dark-green, $med-dark-green, $med-dark-green, #fff);
}

.btn-suspend {
	@include button-variant-override($yellow, $yellow, $orange, $orange, $orange, $orange, $dark-gray);
}

/* Dropdown */
$dropdown-border: $lighter-gray4;
.dropdown {
	min-width: $btn-min-width;
	.dropdown-menu {
		border: 1px solid $dropdown-border;
		box-shadow: $box-shadow;

		li>a:focus, li>a:hover {
			background-color: $light-blue;
			color: $white;
			cursor: pointer;
		}
	}
}

.inline {
	display:inline-block;
}


/* Table */
table {
	tbody {
		color: $dark-gray;
	}
}
.table-expandable {
	margin-bottom: 5px;
	thead {
		tr {
			th {
				height: $table-row-height;
				text-align: left;
				border-right: none;
				border-left: none;
				input[type="checkbox"] {
				 	width: 20px;
				 	height: 20px;
				}
				
			}
			th:last-child {
				border-right: 1px solid $light-gray;
			}
		}
	}
	tbody {
		tr {
			td {
				height: $table-row-height;
				text-align: left;
				border-right: none;
				border-left: none;
				border-bottom: none;
				vertical-align: middle;

				span.clickable {
					position: relative;
					left: 10px;
				}
				span.disabled {
					position: relative;
					left: 10px;
				}
				input[type="checkbox"] {
				 	width: 20px;
				 	height: 20px;
				 }
				img {
				 	width:20px;
				 	height: 20px;
				}


			}
			td:last-child {
				border-right: 1px solid $light-gray;
			}
			td.td-collapsed {
				height: 0;
				padding: 0;
				margin: 0;
				border-top: 0;
				border-bottom: 0;
				background-color: $lighter-gray3;

				div.in {
					border-top: 1px solid $light-gray;
				}
			}
		}
	}
	tbody + tbody {
		border-top: 1px solid $light-gray;
	}


}
div.table-action {
	margin-bottom: 10px;
}


/* Form */
.form-control {
	height: $btn-height;
}

form.default {
	width: $input-width;
}

form.default.form-horizontal, form.default.form-inline {
	width: auto;

	input {
		width: $input-width;
		color: $dark-gray;
	}
	input[type="checkbox"], input[type="radio"], input[type="color"], input[type="range"], input[type="image"] {
		width: auto;
	}
	input[type="button"], input[type="reset"], input[type="submit"] {
		width: $btn-min-width;
		height: $btn-height;
	}  

}
label.require {
	&:before {
		position: relative;
		content: '*';
		color: $red;
		top: 0;
		right: 5px;
	}
}

.form-group {
	.hint {
		color: $gray;
		margin-top: 3px;

		span {
			font-size: 15px;
			margin-right: 5px;
		}
	}
}
.form-inline {
	.form-group {
		.hint {
			position: absolute;
			margin-left: 35px;
		}
	}
}


