.env-basic{
	.caro{
		padding-top: 15px;
		text-align: left;
		margin-left: 5%;
	}
	.carousel-indicators { 
		top: auto;
	    bottom: -40px; 
	    z-index: -20;
	    li {
	    	border: 1px solid $light-blue;
	    }
	}

	.carousel-indicators .active {
	    background-color: $light-blue;
	    }

	.carousel-control {
	 	background-color: $lighter-gray1;
	    color:$light-blue;
	    opacity: 0.3;
	    width: 3%;
	    cursor:pointer;

	}
	.carousel-control.left{
	    background-image:linear-gradient(to right, rgba(0, 0, 0, 0.1) 100px, rgba(0, 0, 0, 0) 50%);
	}
	.carousel-control.right{
	    background-image:linear-gradient(to right, rgba(0, 0, 0, 0) 100px, rgba(0, 0, 0, 0) 50%);
	}
	.carousel-inner {
	    background: $lighter-gray1 none repeat scroll 0 0;
	    width: 100%;
	    overflow: visible;
	}
}