info-card {
    display: inline-block;
    margin-bottom: $common-margin;
    margin-right: $common-margin;
    &>div{
        position: relative;

        .card {
            position: relative;
            width: 180px;
            height: 44px;
            text-align: left;
            background-color: $body-bg;
            border: 1px  $lighter-gray4 solid;
            border-left: none;
            padding: 10px 2px;
            /* seems browser has bugs about this */
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: $border-radius-base;
            border-bottom-right-radius: $border-radius-base;
            cursor: pointer;

            .vm-status {
                
                position: absolute;
                width: 7px;
                height: calc(100% + 2px);
                top: -1px;
                left: -5px;
            }
            &:hover {
                color: $light-blue;
                text-decoration: none;

                .ilabicon-vm {
                    color:$light-blue;
                }
            }
        }
        .card.on .vm-status{
            background-color: $green;
        }
        .card.off .vm-status{
            background-color: $red;
        }
        .card.suspend .vm-status{
            background-color: $yellow;
        }

        .info {
            margin-top: 5px;
            position: absolute;
            left: -5px;
            box-shadow: $box-shadow;
            width: 250px;
            max-width: 250px;
            background: $white;
            border-radius: $border-radius-base;
            border: 1px  $light-gray solid;
            z-index: 20;
            .info-title {
                margin-left: $common-margin;
                margin-top: $common-margin;
            }
            i {
                margin-left: 10px;
            }
        }

        .tag-icon {
            display: inline-block;
        }
        .tag-name {
            display: inline-block;
            span {
                margin-right: 3px;
            }
        }
        .btn-operation {
            margin: 5px 0px 10px 15px;
        }

        /*4 icon buttons for play/stop/pause/restart*/
        .play-btn {
            background-color: $green;
            color: $white;
            &:hover {
                background-color: $light-green;
                color: $white;
            }
            &:active {
                background-color: $med-dark-green;
                color: $white;
            }
            &:focus{
                color: $white;
            }
        }

        .stop-btn {
            background-color: $red;
            color: $white;
            &:hover {
                background-color: $light-red;
                color: $white;
            }
            &:active {
                background-color: $mediumDarkRed;
                color: $white;
            }
            &:focus{
                color: $white;
            }
        }

        .pause-btn {
            background-color: $yellow;
            color: $white;
            &:hover {
                background-color: $orange;
                color: $white;
            }
            &:active {
                background-color: $darkYellow;
                color: $white;
            }
            &:focus{
                color: $white;
            }
        }


    }
}