info-card {
    display: inline-block;
    margin-bottom: 15px;
	div{
		.card {
		    width: 160px;
            height: 44px;
            color: $dark-gray;
		    background-color: $body-bg;
		    border-top: 1px  $lighter-gray4 solid ;
		    border-right: 1px  $lighter-gray4 solid;
		    border-bottom: 1px  $lighter-gray4 solid;
		    margin-left: 5px;
		    padding: 0px;
		    border-radius: 4px;
		    display: inline-block;

		    &:hover {
		        color: $light-blue;
		        display: inline-block;
		        text-decoration: none;
		        cursor: pointer;
                .icon-color {
                    color:$light-blue;
                }
            }
            span{
                padding-top: 3px;
            }
	    }
	    	
		.card.on {
			border-left: 7px solid $green;
		}
		.card.off {
			border-left: 7px solid $red;
		}
		.card.suspend {
			border-left: 7px solid $yellow;
		}
        .card.spawing {
            border-left: 7px solid $gray;
            cursor: not-allowed;
            pointer-events: none;
            opacity: .65;
            filter: alpha(opacity=65);
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .card.delete{
            display: none;
        }		
		.info {
            margin-top: 5px;
			position: absolute;
			box-shadow: $box-shadow;
			width: 250px;
            background: $white;
            border-radius: 4px;
            border: 1px  $light-gray solid;
            z-index: 20;
            h2 {
                margin:15px;
            }
            small {
                margin-left:15px; 
            }
		}
        .info{
            &:before {
                position: absolute;
                top: 100%;
                width: 0;
                height: 0;
                display: block;
                content: "";
                border-color: transparent;
                border-style: solid solid outset;
                pointer-evevts: none;
            }
            &:after {
                position: absolute;
                top: 100%;
                width: 0;
                height: 0;
                display: block;
                content: "";
                border-color: transparent;
                border-style: solid solid outset;
                pointer-evevts: none;
            }
        }
        
        .tag-icon {
            width: 24px;
            height: 42px;
            padding: 8px 0px 5px 5px;
            .icon-color {
                color:$dark-gray;
            }           
        }
        .tag-name {
            span {
                margin-right: 3px;
            }
        }
        .change-margin {
            margin-top: -3px;
        }
        .btn-operation {
            margin: 5px 0px 10px 15px;
        }
        .card-key {
            font-weight:bold; 
        }
        .group-margin {
            margin-left:8px;
        }
        .btn-margin {
            margin-left:8px;
        }
        .card-container {
            background-color:gray;
        }
        
        /*use dropdown-menu from bootstrap.css-------*/
        .dropdown {
            position: relative
        }
        .dropdown-toggle{
            &:focus {
                outline: 0
            }
        }

        .dropdown-menu {
            position: absolute;
            top: 100%;
            left: -1px;
            z-index: 40;
            display: none;
            float: left;
            min-width: 70px;
            padding: 5px 0;
            margin: 2px 0 0;
            font-size: 14px;
            list-style: none;
            background-color: $white;
            border-radius: 4px;
            background-clip: padding-box;
        }
        .dropdown-menu.pull-right {
            right: 0;
            left: auto;
        }
        .dropdown-menu .divider {
            height: 1px;
            margin: 9px 0;
            overflow: hidden;
            background-color: $lighter-gray3;
        }
        .dropdown-menu{
            li{
                a {
                    display: block;
                    padding: 6px 12px;
                    clear: both;
                    font-weight: normal;
                    line-height: 1.428571429;
                    color: $dark-gray;
                    white-space: nowrap;
                    min-width: 76px;
                    }
                }
        }
        .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
            color: white;
            text-decoration: none;
            background-color: $light-blue;
        }
        .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
            color: $white;
            text-decoration: none;
            background-color: $mediumBlue;
            outline: 0;
        }
        .dropdown-menu>.disabled>a, .dropdown-menu>.disabled>a:hover, .dropdown-menu>.disabled>a:focus {
            color: $light-gray;
        }
        .dropdown-menu>.disabled>a:hover, .dropdown-menu>.disabled>a:focus {
            text-decoration: none;
            cursor: not-allowed;
            background-color: transparent;
            background-image: none;
        }
        .dropdown-menu>li>a>span {
            margin-right: 5px;
        }
        .open>.dropdown-menu {
            display: block;
        }
        .btn-group, .btn-group-vertical {
            position: relative;
            display: inline-block;
            vertical-align: middle;
        }
        .btn-group ul li {
            text-align: left;
        }
        .stop-icon ilabicon-stop  {
            color:$dark-gray;
            font-size: 1em;
        }
	}
}






