.ilab-menu {
    position: fixed;
    z-index: 5;
    top: 50px;
    width: 250px;
    height: 100%;
    opacity: 1;
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
    transform: translate3d(0, 0, 0);
    transition: all .3s;
}
.ilab-menu.toggled {
  transform: translate3d(-255px, 0, 0);
  opacity: 0;
}
@media(min-width: 1641px) {
  .no {
    font-size: 2px;
  }
}

@media(max-width: 1640px) {
  .no {
    font-size: 1px;
  }
}

/* intel-according */

.intel-accordion {
    border-bottom: 1px solid #d3d8db;
    color: #53565a;
    margin: 0;
    overflow-y: auto;
    -webkit-overflow-scroll: touch;
}

.intel-accordion .intel-accordion-header {
    background-color: white;
    border: none;
    text-align: right;
}

.intel-accordion .intel-accordion-header .intel-accordion-toggle {
    margin: 0;
    min-width: 3em;
    padding: 0.25em 0.5em;
}

.intel-accordion:last-child {
    border-bottom: 1px solid #d3d8db;
}

.intel-accordion > a,
.intel-accordion > h3 {
    background-color: #edeff0;
}

.intel-accordion > a:active,
.intel-accordion > h3:active,
.intel-accordion > ul > li > a:active,
.intel-accordion > ul > li > h3:active,
.intel-accordion > ul > li > ul > li > a:active {
    background-color: white;
}

.intel-accordion > a:hover,
.intel-accordion > h3:hover,
.intel-accordion > ul > li > a:hover,
.intel-accordion > ul > li > h3:hover,
.intel-accordion > ul > li > ul > li > a:hover {
    background-color: white;
}

.intel-accordion > a:visited,
.intel-accordion > ul > li > a:visited,
.intel-accordion > ul > li > ul > li > a:visited {
    color: #53565a;
}


/*** LEVEL 1 RULES ***/


/*content nav ul */


/*link:   nav a  */


/*header: nav h3 */

.intel-accordion > a,
.intel-accordion > h3 {
    border-top: 1px solid #d3d8db;
    // border-right: 1px solid #d3d8db;
    border-left: 1px solid #d3d8db;
    color: #53565a;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    white-space: normal;
}

.intel-accordion > ul {
    background-color: white;
    font-weight: normal;
    margin: 0;
    padding: 0;
    white-space: normal;
}

.intel-accordion > a {
    line-height: 1.65em;
    padding: 0.9em 2em;
}

.intel-accordion > h3,
.intel-accordion > h3.active {
    cursor: pointer;
    position: relative;
    padding: 0.9em 2em;
}

.intel-accordion > h3:before,
.intel-accordion > h3.active:before {
    background-color: transparent;
    color: #0071c5;
    font-family: 'Intelicon';
    font-size: 1em;
    margin-left: -1.25em;
    position: absolute;
    transition: all 3s ease;
}

.intel-accordion > h3:before {
    content: '\e60f';
}

.intel-accordion > h3.active:before {
    content: '\e60c';
}


/* Initially invisible */

.intel-accordion > h3 + ul {
    display: none;
}


/* Toggles visibility */

.intel-accordion > h3 + ul.active {
    display: block;
}


/*** LEVEL 2 Rules ***/


/*MENU*/


/*content nav ul li ul */


/*link:   nav ul li a  */


/*header: nav ul li h3 */


/*CONTENT*/


/*header: section h3  */


/*body:   section div */

.intel-accordion > ul.active > li > a,
.intel-accordion > ul > li > h3 {
    color: #53565a;
    cursor: pointer;
    font-size: 15px;
    font-weight: normal;
    border-top: 1px solid #d3d8db;
}

.intel-accordion > ul.active > li > a,
.intel-accordion > ul.active > li > h3 {
    // border-right: 1px solid #d3d8db;
    border-left: 1px solid #d3d8db;
    display: block;
    margin: 0;
}

.intel-accordion > ul.active > li > ul {
    // border-right: 1px solid #d3d8db;
    border-left: 1px solid #d3d8db;
    color: #53565a;
    margin: 0;
    padding: 0;
}

.intel-accordion ul.active > li > a {
    padding: 0.7em 0.75em 0.7em 1.8em;
}

.intel-accordion ul.active > li > h3 {
    padding: 0.25em 0.75em 0.25em 2.0em;
}

.intel-accordion ul.active > li > h3.active {
    border-bottom: 0;
    border-top: 1px solid #d3d8db;
}


/* Level 2 Icons */

.intel-accordion ul.active > li > h3:before,
.intel-accordion ul.active > li > h3.active:before {
    color: #0071c5;
    padding: 0.25em;
    font-family: "Arial Black";
}

.intel-accordion ul.active > li > h3:before {
    content: '+';
}

.intel-accordion ul.active > li > h3.active:before {
    content: '-';
    font-size: 1.25em;
}


/* Initially invisible */

.intel-accordion > ul > li > h3 + ul,
.intel-accordion > h3 + div {
    color: #53565a;
    display: none;
}


/* Toggles visibility */

.intel-accordion > ul > li > h3 + ul.active,
.intel-accordion > h3 + div.active {
    display: block;
}


/*** LEVEL 3 Rules ***/


/*content nav ul li ul li ul */


/*link:   nav ul li ul li a  */


/*header: nav ul li ul li h3 */

.intel-accordion ul.active li > ul.active > li > a {
    color: #53565a;
    margin: 0;
    padding: 0.25em 0 0.25em 4em;
}


/*** INTEL SELECTED ***/

// .intel-accordion .intel-selected {
//     display: block;
//     font-weight: bold;
//     position: relative;
// }

// .intel-accordion .intel-selected:before,
// .intel-accordion .intel-selected:after {
//     border-color: transparent;
//     border-style: solid;
//     content: '';
//     height: 0;
//     position: absolute;
//     width: 0;
//     z-index: 1000;
// }

// .intel-accordion .intel-selected:before {
    // border-right-color: #d3d8db;
//     border-width: 11px;
//     right: 0;
//     top: 0;
//     /*** Fallback for IE8 ***/
//     top: -webkit-calc(50% - 14px);
//     top: -moz-calc(50% - 14px);
//     top: calc(50% - 14px);
// }

// .intel-accordion .intel-selected:after {
    // border-right-color: white;
//     border-width: 10px;
//     right: -1px;
//     top: 1px;
//     /*** Fallback for IE8 ***/
//     top: -webkit-calc(50% - 14px);
//     top: calc(50% - 14px);
//     top: -moz-calc(50% - 14px);
// }

.intel-accordion .intel-selected a,
.intel-accordion ul > a.intel-selected {
    color: #53565a;
    font-weight: bold;
}


/*** ACCORDION BODY ***/

.intel-accordion > div {
    background: white;
    border-top: 1px solid #d3d8db;
    border-left: 1px solid #d3d8db;
    // border-right: 1px solid #d3d8db;
    color: #53565a;
    padding: 0.5em;
}


/*** ACCORDION@MOBILE ***/

@media (max-width: 480px) {
    .intel-accordion > h3,
    .intel-accordion > h3.active {
        background-size: 1.25em 1.25em;
    }
    .intel-accordion .intel-accordion-header .intel-accordion-toggle {
        display: inline-block;
        min-width: 5.5em;
        padding: 0.5em;
        width: auto;
    }
}
