.vm-multi{
	.caro{
	padding-left:30px;
	padding-top: 15px;
	}
	.breadcrumb{
    background-color: #fff;
    li + li::before {
	    content: "/ ";
	}
 }
	
	.glyphicon-chevron-left::before,.glyphicon-chevron-right::before {
	    color: #0071c5;
	}
	.carousel-indicators { 
			position: absolute;
			top: 150px;
	      li {
	    		border: 1px solid $light-blue;
	    }
	}

	.carousel-indicators .active {
	    background-color: $light-blue;
	    }

	.carousel-control {
			position: absolute;
			top: 50px;
	 		background-color: $lighter-gray1;
	        color:$light-blue;
	        opacity: 0.3;
	        width: 3%;
	        cursor:pointer;
	        
	}
	.carousel-control.left{
	        background-image:linear-gradient(to right, rgba(0, 0, 0, 0.1) 100px, rgba(0, 0, 0, 0) 50%);
	}
	.carousel-control.right{
	        background-image:linear-gradient(to right, rgba(0, 0, 0, 0) 100px, rgba(0, 0, 0, 0.1) 50%);
	}
	.carousel-inner {
	        background: $lighter-gray1 none repeat scroll 0 0;
	        width: 100%; 
	        position: absolute;
	        overflow: inherit;

	}
}