.elements-row {
	padding: 5px 0;
	border-bottom: 1px dashed grey;
}

h3 ~ span[class^="ilabicon"] {
	float: left;
	color: $blue;
	cursor: pointer;
	margin-right: 20px;
	height: 30px;
	font-size: 2em;

	&:hover {
		font-size: 5em;
		@include transition(font-size .2s);
	}
}