// ilab-dropdown scss
/*** DropDown ***/

.ilab-dropdown-list-selected {
  background-color: white;
  border: 1px solid #d3d8db;
  color: #53565a;
  display: inline-block;
  margin: 0.5em 1em 0.5em 0.5em;
  padding: 0.5em;
  position: relative;
  
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin: 0 0 0 0;
    padding: 0 1.75em 0 0;
    text-indent: 0.01px;
    text-overflow: '';           
    } 
}

.ilab-dropdown-list-selected select:active, .ilab-dropdown-list-selected select:focus {
  outline: 0;
}
.ilab-dropdown-list-selected:before {
  border-left: 1px solid #d3d8db;
  bottom: 0;
  color: white;
  right: 1.75em;
  top: 0;
  content: '';
  /*z-index: 100;*/
}
.ilab-dropdown-list-selected:after {
  background-color: white;
  bottom: 0.4em;
  color: #0071c5;
  content: '^';
  height: 0.5em;
  font-weight: bold;
  right: 0.5em;
  pointer-events: none;
  position: absolute;
  -webkit-transform: rotate(180deg) scale(1.5, 1);
  -moz-transform: rotate(180deg) scale(1.5, 1);
  -ms-transform: rotate(180deg) scale(1.5, 1);
  transform: rotate(180deg) scale(1.5, 1);
  width: 0;
  /*z-index: 10;*/
}
.ilab-dropdown-list-selected:after, .ilab-dropdown-list-selected:before {
  font-weight: bold;
  pointer-events: none;
  position: absolute;
  width: 0;
}
.ilab-dropdown-list-selected select option {
  color: #53565a;
  font-size: 14px;
}

/*stying for ilab-dropdown directive*/

ilab-dropdown {
  display: inline-block;
  width: 160px;
}
.ilab-dropdown-list {
  display: inline-block;
  text-align: left;
  position: relative;

  .ilab-dropdown-list-selected {
    position: relative;
    min-width: 11.2em;
    display: block;
    border: 0px;
    margin: 0;
    padding: 5px 0 0 6px;
    height: 2em;
    text-align: left;
    font-size: 1em;
  }

  .content {
    position: absolute;
    top: 100%;
    z-index: 1000;
    width: 100%;
    width: calc(100% - 2px);
    line-height: 30px;
    margin: 0;
    padding: 0;
    border: 1px solid #e2e6e7;
    border-top: transparent;
    text-align: left;
    text-indent: 6px;
    list-style: none;
    background-color: white;
    font-size: 1em;
    box-shadow: 2px 5px 10px rgba(83, 86, 90, .3);

    li:hover {
      background-color: #00AEEF;
      color: white;
    }
    li.active {
      background-color: #0071c5;
      color: white;
    }
  }
}

.ilab-menu ilab-dropdown {
  padding: 5px 8px;
}
.ilab-environment {
  .ilab-dropdown-list {
    float: right;
    display: inline-block;
    text-align: left;
    margin-top: 9px;

    .content {
      width: 158px;
      padding: 0;
      max-height: 350px;
      overflow-y: auto;
      text-indent: 0;

      li.active a {
        color: white;
      }
      li a {
        color: #53565A;
      }
    }
  }
}

  .ilab-environment .intelicon-plus-solid, .ilab-dropdown-list .content li, .ilab-dropdown-list .ilab-dropdown-list-selected, .addEnvironment, .ilab-dismiss-animate {
    cursor: pointer;
  }
  /*Custom scroll bar*/

  .ilab-dropdown-list {
    .content::-webkit-scrollbar {
      width: 8px;
      height: 12px;
    }
    .content::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.1);
    }
    .content::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.5);
    }
  }

  ilab-dropdown[disabled="disabled"] .ilab-dropdown-list-selected {
    background-color: #edeff0;
  }

//tab color
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus, .nav > li > a:hover {
  color: #00AEEF;
  background-color: #53565A;
}

.table-span-td .nav>li>a {
  position: relative; 
  display: block;
  padding: 10px 20px 10px 20px;
  color: #fff;
  font-size: 20px;
}
