
//add IT master look&feel 
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$intel-font-path: "../bower_components/it-mlaf-sass/fonts/";
@import "it-mlaf-sass/it-mlaf";
// import ilab newui base scss 
@import "base";
//add ilab customized iconfont lib
$ilab-font-path: "../bower_components/ilabicon/fonts/";
@import "ilabicon/style";
// import ilab customized scss partials
//@import "header";
// import components
@import "welcome";
@import "menu";
@import "infoCard";
@import "vm-multi";
@import "all-environment";
@import "physical-machine";

body {
    margin-top: 50px;
    margin-bottom: 50px;
	min-width: 600px;
}

/* style for menu btn that trigger menu hide/open */
#menu-toggle {
    float: left;
    padding: 10px;
    font-size: 30px;
    color: white;
    background-color: #0055a5;
    cursor: pointer;

    &:active{
        background-color: #1891ee;
    }
}

/* override navbar */
.navbar {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}
.navbar .container-fluid {
    padding-left: 0;
}
.navbar>.container .navbar-logo,.navbar>.container-fluid .navbar-logo {
    margin-left: 0;
    padding: 0;
    cursor: pointer;
}
.container-fluid>.navbar-header{
    margin-left: 0;
}

/* override loading bar color */
#loading-bar-spinner .spinner-icon {
    border-top-color:  $yellow !important;
    border-left-color: $yellow !important;
}
#loading-bar .bar {
  background: $yellow !important;
}

/* override pagination */
.pagination {
    margin-top: 0;
}
.pagination>li>a, .pagination>li>span {
    border: none;
}
.pagination>li.active>a, .pagination>li.active>a:hover, .pagination>li.active>a:focus {
    background-color: white;
    color: $gray;
}
.pagination-summary {
    float: right;
    color: $gray;
    margin-top: 5px;
}
/* override alerts */
.alert-box {
    position: fixed;
    top: 60px;
	padding: 5px;
}
.alert {
	margin-bottom: 5px;
    border: 0;
    color: white;
    @include box-shadow(none);
}
.alert-warning {
    background-color: $orange; 
}
.alert-success {
    background-color: $green; 
}
.alert-danger {
    background-color: $light-red; 
}

/* ng-animate for alert */
.alert.ng-enter, 
.alert.ng-move,
.alert.ng-leave
{ 
	@include transition(400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all);
} 
 
.alert.ng-enter.ng-enter-active, 
.alert.ng-leave {
    padding: 10px;
    top: 0;
    height: 42px;
    margin-bottom: 5px;

}
 
.alert.ng-leave.ng-leave-active,
.alert.ng-enter {
	margin-bottom: 0;
    top: -50px;
    height: 0px;
}

/*vm table font color*/
.mark-as-blue
 {
    color: $blue;
}
.mark-as-red
 {
    color: $red;
}



/*sortable table header */

.ilab-sortable thead tr {
    &:first-child th {
        /* background: $lighter-gray3;
    border: 0px;
    color: $black; */
        cursor: pointer;
        padding-right: 1.5em;
        position: relative;
        &.ilab-sort-desc:after {
            border-color: transparent transparent $light-gray transparent;
            border-style: solid;
            border-width: 0.5em;
            top: .05em;
            content: ' ';
            height: 0.75em;
            position: absolute;
            //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
            border-radius: 4px;
            width: 0;
            z-index: 6;
        }
        &.ilab-sort-asc:after {
            border-color: $light-gray transparent transparent transparent;
            border-style: solid;
            border-width: 0.5em;
            bottom: .05em;
            content: ' ';
            height: 0.75em;
            position: absolute;
            //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
            border-radius: 4px;
            width: 0;
            z-index: 6;
        }
    }
}

.modal-dialog {
    width: 400px;
}

#search-vm,
#displaycolumn-vm {
    float: right;
    margin: 0.5em;
    color: $blue;
    display: inline-block;
}


#delete-action {
    color: $red;
}

#vm-configuration {
    color: $blue;
    display: inline-block;
    cursor: pointer;
}

.search-panel {
    float: right;
    border: 1px solid $gray4;
    margin: .5em 0;
}

.table-intel {

    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus, .nav > li > a:hover {
        color: $light-blue;
        background-color: $dark-gray;
    }       
    .nav>li>a {
        position: relative; 
        display: block;
        padding: 10px 20px 10px 20px;
        color: $white;
        font-size: 20px;
    }
    .nav-pills {
        background-color: $dark-gray;
        li > a {
            color: white;
            padding: 11px 20px;
            font-size: 18px;
        }
        li > a:active,
        li.active > a,
        li.active > a:hover,
        li.active > a:focus,
        li > a:hover {
            color: $light-blue;
            padding: 11px 20px;
            font-size: 18px;
        }
        li.disabled > a,
        li.disabled > a:hover,
        li.disabled > a:focus,
        li > a:hover {
            cursor: pointer;
        }
    }
    .table-span-td {
        padding: 0em;
    }
    .advVMInnerSetting {
        padding: 0px;
        border-top-width: 0px;
        border-bottom-width: 0px;
    }
}

.pure-form-aligned {
    background-color: rgb(211, 216, 219);
    text-align: left;
    clear: both;
    .edit-virtual-machine {
        padding-top: 0.5em;
        margin-left: 0.3em;
        width: 20em;
        padding-bottom: 0.5em;
        font-size: 130%;
        color:$darker-gray;
    }
    .intel-setting-group {
        height: 2.5em;
        padding-bottom: 0.5em;

        input[type="text"] {
            display: inline-block;
            vertical-align: left;
            border-style: solid;
            border-width: 1px;
            border-color: transparent;
            min-width: 11.2em;
            color: $dark-gray;
        }
        input[type="radio"] {
            vertical-align: left;
        }
        input[type='radio']:before {
            content: '';
            display: block;
            width: 50%;
            height: 50%;
            margin: 24% 25% auto;
            border-radius: 50%;
        }
        input[type='radio']:hover {
            box-shadow: 0 0 5px 0px $blue inset;
        }
        input[type='radio']:checked:before {
            background: $blue;
        }
        .settingButtonGroup {
            margin-left: 6.7em;
        }
        .saveTempRadioLabel {
            padding: 0 0.5em 0 0.5em;
            display: inline-block;
            vertical-align: left;
            min-width: 4.5em;
        }
        .intelicon-help-solid {
            color: $gray;
            margin-top: 2px;
        }
        .intelicon-help-solid:hover {
            color: $dark-gray;
        }
        .vmDefaultNicGroup {
            display: inline-block;
            width: 3em;
        }   
        .intelicon-minus-solid{
            padding-left: 5px;
            color: $blue;
        }
        .intelicon-plus-solid {
            padding-left: 5px;
            color: $blue;
        }
    }
    .advEnvNetwork {
        min-width: 11.2em;
    }

    .network+div {
        display: inline-block;
        min-width: 11.2em;
        margin-left: 0em;
    }

    .advEnvNetworkDiv+.advEnvNetworkDiv {
        margin-left: 6.7em;
    }


}

.advVMInnerSetting {
    .intelicon-close-max {
        float: right;
        font-size: 15px;
        background-color: $dark-gray;
        color: $white;
        margin: 1em;
    }
}

.tooltip-inner {
    padding: 5px;
    min-width: 260px;
    max-width: 350px;
    width: 250px;
    table tbody {
        color: $white;
        td {
            vertical-align: top;
            text-align: left;
        }
    }
    
}
