<div class="pull-right pull-up">
	<ilab-select list="EnvBasic.envs" selected-item="EnvBasic.env" attr-to-display="name" with-search></ilab-select>
	<a ui-sref="envs.detail.vm({envId: EnvBasic.env.id})" class="btn btn-default">advanced</a>
	<a ui-sref="envs.detail.setting({envId: EnvBasic.env.id})"><span class="intelicon-settings-solid clickable"></span></a>
</div>
    <h5>Virtual Machine: {{EnvBasic.env.virtualMachines.length}}</h5>
    <div class="card-container ilab-selection" ng-show="EnvBasic.env.virtualMachines.length < 13">
        <info-card class="list-VMs" type="vm" info="vm" on-connect="EnvBasic.connect(vmId)" on-power="EnvBasic.power(vm, option)" running="EnvBasic.runningVm" ng-repeat="vm in EnvBasic.env.virtualMachines"></info-card>
    </div>
    <div class="env-basic">
        <carousel no-wrap="true" interval="-1" disable-ng-animate ng-show="EnvBasic.env.virtualMachines.length > 12">
            <slide ng-repeat="vmBucket in EnvBasic.vmsInBuckets">
                <div class="caro">
                    <info-card class="list-VMs" type="vm" info="vm" on-connect="EnvBasic.connect(vmId)" on-power="EnvBasic.power(vm, option)" running="EnvBasic.runningVm" ng-repeat="vm in vmBucket"></info-card>
                </div>
            </slide>
        </carousel>
    </div>