<p>
<div>
    <button type="button" class="btn btn-primary">Add VM</button>
    <div class="dropdown clearfix inline">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-action" data-toggle="dropdown" aria-expanded="true" ng-disabled="VM.selectedVMs.length == 0" ng-click="VM.disableSelection()">
            Actions
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-action">
            <li role="presentation" class="{{VM.disableOption}}"><a role="menuitem" tabindex="-1" ng-click="powerOperation(VM.selectedVMs, 'powerOn')"><span aria-hidden="true" class="intelicon-play"></span>
                    <span>Power On</span></a>
            </li>
            <li role="presentation" class="{{VM.disableOption}}"><a class="stopIcon" role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="powerOperation(VM.selectedVMs, 'powerOff')"><span aria-hidden="true" class="ilabicon-stop" style="font-size:0.8em;"></span>
                    <span>Power Off</span></a>
            </li>
            <li role="presentation" class="{{VM.disableOption}}"><a role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="powerOperation(VM.selectedVMs, 'suspend')"><span aria-hidden="true" class="intelicon-pause"></span>
                    <span>Suspend</span></a>
            </li>
            <li role="presentation" class="{{VM.disableOption}}"><a role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="powerOperation(VM.selectedVMs, 'restart')"><span aria-hidden="true" class="intelicon-refresh"></span>
                    <span>Restart</span></a>
            </li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="VM.openDeleteDialog(VM.selectedVMs)"><span aria-hidden="true" class="intelicon-trash-outlined mark-as-red"></span>
                    <span class="mark-as-red">Delete</span></a></li>
        </ul>
    </div>
    <!-- <span class="intelicon-search" id="search-vm"></span>    -->
    <table-column-filter columns="VM.thead" class="pull-right"></table-column-filter>
    <form class="form-inline default pull-right" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" ng-model='searchInput'>
        </div>
    </form>
    
</div>
</p>
<!---->
<!-- vm table from here-->
<table ng-show="vm.VMs.length != 0" class="table table-bordered table-intel table-expandable ilab-sortable" id="vm-table">
    <thead>
        <tr>
            <th>
                <div class="inline">
                    <input type="checkbox" id="choose_all_env" ng-click="VM.toggleCheckAll()" ng-checked="VM.selectedVMs.length == VM.VMs.length" />
                    <label for="choose_all_env"></label>
                </div>
            </th>
            <th ng-repeat="th in VM.thead" class="" ng-click="VM.changeSorting(th.name);" ng-class="{'ilab-sort-desc':!(VM.sort.descending)&&VM.sort.column == th.name, 'ilab-sort-asc':(VM.sort.descending&&VM.sort.column == th.name)}" ng-if="th.enabled">{{th.display.display}}</th>
        </tr>
    </thead>
    <tbody>
        <tr dir-paginate-start="vms in VM.VMs | itemsPerPage: 20|filter:searchInput">
            <td>
                <div class="inline">
                    <input type="checkbox" id="{{vms.id}}" checklist-model="VM.selectedVMs" checklist-value="vms" />
                    <lable for="{{vms.id}}">
                        </label>
                </div>
                <span class="intelicon-settings-solid clickable mark-as-blue" ng-click="VM.showVmEdit(vms.id, false)"></span>
            </td>
            <td ng-if="VM.thead[0].enabled" class="mark-as-blue">{{vms.name}}</td>
            <td ng-if="VM.thead[1].enabled">
                <span ng-repeat="networks in vms.network"><p>{{networks.ip}}</p></span>
            </td>
            <td ng-if="VM.thead[2].enabled">
                {{vms.cpus}}CPU,{{vms.mem}}
            </td>
            <td ng-if="VM.thead[3].enabled">
                <button type="button" class="btn btn-secondary">Connect</button>
            </td>
            <td ng-if="VM.thead[4].enabled">
                <div class="dropdown inline">
                <button class="btn dropdown-toggle" type="button" id="dropdown-running" data-toggle="dropdown" ng-class="{'btn-approve':vms.statusDisplay == 'Running' ,'btn-danger':vms.statusDisplay =='Stopped','btn-suspend':vms.statusDisplay=='Suspended'}" ng-disabled="vmIsInOperation(vms.id)||vms.statusDisplay=='Disconnected'">
                    {{vms.statusDisplay}}
                   <span class="caret"></span>
                </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-running">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="powerOperation(info.id, 'powerOn')"><span aria-hidden="true" class="intelicon-play"></span>
                                <span>Power On</span></a>
                        </li>
                        <li role="presentation"><a class="stopIcon" role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="powerOperation(info.id, 'powerOff')"><span aria-hidden="true" class="ilabicon-stop" style="font-size:0.8em;"></span>
                                <span>Power Off</span></a>
                        </li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="powerOperation(info.id, 'suspend')"><span aria-hidden="true" class="intelicon-pause"></span>
                                <span>Suspend</span></a>
                        </li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="powerOperation(info.id, 'restart')" ng-show="info.status !='restart'"><span aria-hidden="true" class="intelicon-refresh"></span>
                                <span>Restart</span></a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr dir-paginate-end ng-if="vms.id == VM.showPage" ng-include="'main/environment/vm/vms_setting.html'">
        </tr>
    </tbody>
</table>
<dir-pagination-controls max-size="5"></dir-pagination-controls>
