
<h3>List of VM</h3>
    <ul>
        <li ng-repeat="item in VM.envs">{{ item }}</li>
    </ul>
<div>
	{{VM.environments}}
</div>


<div>
    <button type="button" class="btn btn-primary">Add VM</button>
    <div class="dropdown clearfix inline">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-action" data-toggle="dropdown" aria-expanded="true" ng-disabled="VM.deleteVM.selectedVMs.length == 0">
            Actions
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-action">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="powerOperation(info.id, 'powerOn')"><span aria-hidden="true" class="intelicon-play"></span>
                    <span>Power On</span></a>
            </li>
            <li role="presentation"><a  class="stopIcon" role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="powerOperation(info.id, 'powerOff')"><span aria-hidden="true" class="ilabicon-stop" style="font-size:0.8em;"></span>
                    <span>Power Off</span></a>
            </li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="powerOperation(info.id, 'suspend')"><span aria-hidden="true" class="intelicon-pause"></span>
                    <span>Suspend</span></a>
            </li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="powerOperation(info.id, 'restart')" ng-show="info.status !='restart'"><span aria-hidden="true" class="intelicon-refresh"></span>
                    <span>Restart</span></a>
            </li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span aria-hidden="true" class="intelicon-trash-outlined mark-as-red"></span>
                    <span class="mark-as-red">Delete</span></a></li>
        </ul>
    </div>
    <span class="ilabicon-displaycolumn" id="displaycolumn-vm"></span>
    <!-- <span class="intelicon-search" id="search-vm"></span>    -->
    <input type="search" class="search-panel" placeholder="Search" ng-model='searchInput' autofocus>
</div>
<!---->
<!-- vm table from here-->
<table ng-show="vm.VMs.length != 0" class="table table-bordered table-intel table-expandable ilab-sortable" id="vm-table">
    <thead>
        <tr>
            <th>
                <div class="inline">
                    <input type="checkbox" id="choose_all_env" ng-click="VM.toggleCheckAll()" ng-checked="VM.deleteVM.selectedVMs.length == VM.VMs.length" />
                    <label for="choose_all_env"></label>
                </div>
            </th>
            <th ng-repeat="th in VM.thead" class="" ng-click="VM.changeSorting(th.name);" ng-class="{'ilab-sort-desc':!(VM.sort.descending)&&VM.sort.column == th.name, 'ilab-sort-asc':(VM.sort.descending&&VM.sort.column == th.name)}">{{th.display}}</th>
        </tr>
    </thead>
        <tbody>
        <tr dir-paginate-start="vms in VM.VMs | itemsPerPage: 4|filter:searchInput">
            <td>
                <div class="inline">
                    <input type="checkbox" id="{{vms.id}}" checklist-model="VM.deleteVM.selectedVMs" checklist-value="vms.id" />
                    <label for="{{vms.id}}"></label>
                </div>
                <span class="intelicon-settings-solid clickable mark-as-blue" ng-click="VM.showVmEdit(vms.id)" dialog-helper="exit-vmTpl-config" dialog-placement="bottom"></span>
            </td>
            <td class="mark-as-blue">{{vms.name}}</td>
            <td>
                <span ng-repeat="networks in vms.network"><p>{{networks.ip}}</p></span>
            </td>
            <td>
                {{vms.cpus}}CPU,{{vms.mem}}
            </td>
            <td>
                <button type="button" class="btn btn-secondary">Connect</button>
            </td>
            <td>
                <div class="dropdown inline">
                    <button class="btn btn-approve dropdown-toggle" id="dropdown-running" type="button" data-toggle="dropdown" aria-expanded="true">
                        Running
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-running">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="powerOperation(info.id, 'powerOn')"><span aria-hidden="true" class="intelicon-play"></span>
                                <span>Power On</span></a>
                        </li>
                        <li role="presentation"><a  class="stopIcon" role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="powerOperation(info.id, 'powerOff')"><span aria-hidden="true" class="ilabicon-stop" style="font-size:0.8em;"></span>
                                <span>Power Off</span></a>
                        </li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="powerOperation(info.id, 'suspend')"><span aria-hidden="true" class="intelicon-pause"></span>
                                <span>Suspend</span></a>
                        </li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="powerOperation(info.id, 'restart')" ng-show="info.status !='restart'"><span aria-hidden="true" class="intelicon-refresh"></span>
                                <span>Restart</span></a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr dir-paginate-end ng-include="'main/environment/vm/vms_setting.html'">
        </tr>
    </tbody>
</table>
<dir-pagination-controls max-size="5"></dir-pagination-controls>

