<p>
    <div>
        <button type="button" class="btn btn-primary">Add VM</button>
        <div class="dropdown clearfix inline">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-action" data-toggle="dropdown" aria-expanded="true" ng-disabled="Vm.selectedVMs.length == 0" ng-click="Vm.disableSelection()">
                Actions
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-action">
                <li role="presentation" class="{{Vm.disableOption}}"><a role="menuitem" tabindex="-1" ng-click="Vm.powerOperation(Vm.selectedVMs, 'powerOn')"><span aria-hidden="true" class="intelicon-play"></span>
                    <span>Power On</span></a>
                </li>
                <li role="presentation" class="{{Vm.disableOption}}"><a class="stopIcon" role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="Vm.powerOperation(Vm.selectedVMs, 'powerOff')"><span aria-hidden="true" class="ilabicon-stop" style="font-size:0.8em;"></span>
                    <span>Power Off</span></a>
                </li>
                <li role="presentation" class="{{Vm.disableOption}}"><a role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="Vm.powerOperation(Vm.selectedVMs, 'suspend')"><span aria-hidden="true" class="intelicon-pause"></span>
                    <span>Suspend</span></a>
                </li>
                <li role="presentation" class="{{Vm.disableOption}}"><a role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="Vm.powerOperation(Vm.selectedVMs, 'restart')"><span aria-hidden="true" class="intelicon-refresh"></span>
                    <span>Restart</span></a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="Vm.openDeleteDialog('middle')"><span aria-hidden="true" class="intelicon-trash-outlined mark-as-red"></span>
                    <span class="mark-as-red">Delete</span></a></li>
            </ul>
        </div>
        <table-column-filter columns="Vm.thead" class="pull-right"></table-column-filter>
        <form class="form-inline default pull-right" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" ng-model='searchInput'>
            </div>
        </form>
    </div>
</p>
<!---->
<!-- vm table from here-->

<table ng-show="vm.VMs.length != 0" class="table table-bordered table-intel table-expandable ilab-sortable" id="vm-table">
    <thead>
        <tr>
            <th>
                <div class="inline">
                    <input type="checkbox" id="choose_all_env" ng-click="Vm.toggleCheckAll()" ng-checked="Vm.selectedVMs.length == Vm.VMs.length" />
                    <label for="choose_all_env"></label>
                </div>
            </th>
            <th ng-repeat="th in Vm.thead" class="" ng-click="Vm.changeSorting(th.name);" ng-class="{'ilab-sort-desc':!(Vm.sort.descending)&&Vm.sort.column == th.name, 'ilab-sort-asc':(Vm.sort.descending&&Vm.sort.column == th.name)}" ng-if="th.enabled">{{th.display}}</th>
        </tr>
    </thead>
    <tbody>
        <tr dir-paginate-start="vms in Vm.VMs | itemsPerPage: 20|filter:searchInput">
            <td>
                <div class="inline">
                    {{Vm.vmIsInOpertation(vms.id)}}
                    <div class="intel-checkbox" ng-show="!(Vm.vmIsInOperation({{vms.id}})||{{vms.locked}})">

                        <input type="checkbox" id="{{vms.id}}" checklist-model="Vm.selectedVMs" checklist-value="vms" />
                    </div>
                    <div ng-show="Vm.vmIsInOperation(vms.id)||{{vms.locked}}">
                        <img src="../../image/refresh_icon_18x18.gif">
                    </div>
                    <lable for="{{vms.id}}">
                        </label>
                </div>
               
                <span class="intelicon-settings-solid" ng-class="{'clickable':!(Vm.vmIsInOperation({{vms.id}})||{{vms.locked}}),'disabled':(Vm.vmIsInOperation({{vms.id}})||{{vms.locked}}) }" ng-click="Vm.showVmEdit(vms.id, false)"></span>
            </td>
            <td ng-if="Vm.thead[0].enabled" class="mark-as-blue">{{vms.name}}</td>
            <td ng-if="Vm.thead[1].enabled">
                <span ng-repeat="networks in vms.network"><p>{{networks.ip}}</p></span>
            </td>
            <td ng-if="Vm.thead[2].enabled">
                {{vms.cpus}}CPU,{{vms.mem}}
            </td>
            <td ng-if="Vm.thead[3].enabled">
                <button type="button" class="btn btn-secondary" ng-disabled="Vm.vmIsInOperation(vms.id)||{{vms.locked}}">Connect</button>
            </td>
            <td ng-if="Vm.thead[4].enabled">
                <div class="dropdown inline">
                    <button class="btn dropdown-toggle" type="button" id="dropdown-running" data-toggle="dropdown" ng-class="{'btn-approve':vms.statusDisplay == 'Running' ,'btn-danger':vms.statusDisplay =='Stopped','btn-suspend':vms.statusDisplay=='Suspended'}" ng-disabled="Vm.vmIsInOperation(vms.id)||{{vms.locked}}">
                        {{vms.statusDisplay}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-running">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="Vm.powerOperation(vms, 'powerOn')"><span aria-hidden="true" class="intelicon-play"></span>
                                <span>Power On</span></a>
                        </li>
                        <li role="presentation"><a class="stopIcon" role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="Vm.powerOperation(vms, 'powerOff')"><span aria-hidden="true" class="ilabicon-stop" style="font-size:0.8em;"></span>
                                <span>Power Off</span></a>
                        </li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="Vm.powerOperation(vms, 'suspend')"><span aria-hidden="true" class="intelicon-pause"></span>
                                <span>Suspend</span></a>
                        </li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="Vm.powerOperation(vms, 'restart')" ng-show="vms.status !='restart'"><span aria-hidden="vms" class="intelicon-refresh"></span>
                                <span>Restart</span></a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr dir-paginate-end ng-if="vms.id == Vm.showPage" ng-include="'main/environment/vm/vm_setting.html'">
        </tr>
    </tbody>
</table>
<dir-pagination-controls max-size="5"></dir-pagination-controls>


<div class="alert-box col-xs-10 col-sm-8 col-md-6">
    <alert ng-repeat="alert in $root.alerts" type="{{alert.type}}" close="Vm.close(alert.index)" ng-click="Vm.close(alert.index)">{{alert.message}}</alert>
</div>