<!--link rel="stylesheet" href="deploy/form.css"-->
<!-- <table class="table table-bordered table-striped table-intel"> -->
<!-- <tr> -->
<td colspan="6" class="advVMInnerSetting td-collapsed">
    <div collapse="VM.showPage != vms.id">
        <span class="intelicon-close-max" ng-click="VM.closePanel(vms.id)"></span>
        <tabset class="VMSettingTabs" type="pills">
            <!--ChangeVMSettingPanel-->
                    <tab active="toolTab.active" title="Configure VM">
                <tab-heading>
                    <span class="intelicon-tools"></span>
                </tab-heading>
                <form class="pure-form-aligned" id="config-vm" ng-submit="VM.updateConfig(vms.id)">
                    <div class="edit-virtual-machine">Edit Virtual Machine:</div>
                    <div class="intel-setting-group">
                        <label for="vm-name">VM name:</label>
                        <input id="vm-name" type="text" placeholder="Virtual Machine 1" ng-model="VM.configTmp.name" required />
                    </div>
                    <div class="intel-setting-group">
                        <label for="vm-description">Description:</label>
                        <input id="vm-description" type="text" placeholder="Description" ng-model="VM.configTmp.description" />
                    </div>
                    <div class="intel-setting-group">
                        <label>CPU:</label>
                        <div class="dropdown" style="display: inline-block">
                            <button class="btn btn-default dropdown-toggle advEnvNetwork" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                {{VM.configTmp.CPU.NumOfCPU}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation" ng-repeat="list in VM.CPU" ng-click="VM.selectCPU(list)"><a role="menuitem" tabindex="-1" href="#" >{{list.NumOfCPU}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="intel-setting-group">
                        <label>Memory:</label>
                        <div class="dropdown" style="display: inline-block">
                            <button class="btn btn-default dropdown-toggle advEnvNetwork" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                {{VM.configTmp.memory.memory}}
                                <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation" ng-repeat="list in VM.Memory[VM.configTmp.CPU.idx]" ng-click="VM.selectMemory(list)"><a role="menuitem" tabindex="-1" href="#" >{{list.memory}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <label class="network">Network:</label>
                    <div class="intel-setting-group dropdown advEnvNetworkDiv" ng-repeat="(index, value) in VM.configTmp.network">
                        <button class="btn btn-default dropdown-toggle advEnvNetwork" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            {{value.label}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation" ng-repeat="list in VM.Network" ng-click="VM.selectNetwork(index, list)"><a role="menuitem" tabindex="-1" href="#" >{{list.label}}</a></li>
                        </ul>
                    </div>
                    <div class="intel-setting-group">
                        <span class="settingButtonGroup">
                            <button class="btn btn-primary" type="submit">Update</button>
                            <button class="btn btn-secondary" type="button" ng-click="VM.cancelConfig(vms.id)">Cancel</button>
                        </span>
                    </div>
                </form>
            </tab>
            <!--SaveTemplatePanel-->
            <tab title="Save VM as template">
                <tab-heading>
                    <span class="intelicon-save-solid"></span>
                </tab-heading>
                <form class="pure-form-aligned" id="saveVMTemplate" ng-submit="VM.saveVMTemplate(vms.id)">
                    <div class="edit-virtual-machine">Save VM Template:</div>
                    <div class="intel-setting-group">
                        <label for="vmSaveName">VM name:</label>
                        <!--Only can be saved when VM is not running-->
                        <input id="vmSaveName" type="text" placeholder="Virtual Machine 1" ng-model="VM.saveTemp.name" required />
                    </div>
                    <div class="intel-setting-group">
                        <label for="vmSaveRadio">Save mode:</label>
                        <input id="vmConvertRadio" class="radioCheckboxA" type="radio" name="saveMode" ng-model="VM.saveTemp.modeSaveDisk.saveMode" value="convert" />
                        <span class="saveTempRadioLabel">Convert</span>
                        <input id="vmSaveRadio" class="radioCheckboxB" type="radio" name="saveMode" ng-model="VM.saveTemp.modeSaveDisk.saveMode" value="save" />
                        <span class="saveTempRadioLabel">Save</span>
                        <span class="intelicon-help-solid tip" tooltip-html="VM.htmlTooltipSave" tooltip-placement="right"></span>
                    </div>
                    <div class="intel-setting-group">
                        <label for="vmSaveRadio">Disk mode:</label>
                        <input id="vmChainRadio" class="radioCheckboxA" type="radio" name="diskMode" ng-model="VM.saveTemp.modeSaveDisk.diskMode" value="chain" />
                        <span class="saveTempRadioLabel">Chain</span>
                        <input id="vmCopyRadio" class="radioCheckboxB" type="radio" name="diskMode" ng-model="VM.saveTemp.modeSaveDisk.diskMode" value="copy" />
                        <span class="saveTempRadioLabel">Copy</span>
                        <span class="intelicon-help-solid tip" tooltip-html="VM.htmlTooltipDisk" tooltip-placement="right"></span>
                    </div>
                    <label for="advEnvNetwork" class="network">Default Net:</label>
                    <div class="intel-setting-group dropdown advEnvNetworkDiv" ng-repeat="(index, value) in VM.tplConfig">
                        <button class="btn btn-default dropdown-toggle advEnvNetwork" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            {{value.label}}
                            <span class="caret"></span>
                        </button>
                        <span class="intelicon-minus-solid" ng-click="VM.changeTplNumber(VM.tplConfig, false)"></span>
                        <span class="intelicon-plus-solid" ng-click="VM.changeTplNumber(VM.tplConfig, true)"></span>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation" ng-repeat="list in VM.Network" ng-click="VM.selectNetwork(index, list)"><a role="menuitem" tabindex="-1" href="#" >{{list.label}}</a></li>
                        </ul>
                    </div>
                    <div class="intel-setting-group">
                        <span class="settingButtonGroup">
                            <button class="btn btn-primary" type="submit">Save</button>
                            <button class="btn btn-secondary" type="button" ng-click="VM.cancelConfig()">Cancel</button>
                        </span>
                    </div>
                </form>
            </tab>
            <!--VM information Panel-->
            <tab title="VM Information">
                <tab-heading>
                    <span class="intelicon-information-solid"></span>
                </tab-heading>
                <form class="pure-form-aligned">
                    <div class="container-fluid">
                        <form class="ng-pristine ng-valid">
                            <div class="form-group">
                                <h5>Detail Information:</h5>
                            </div>
                            <div class="form-group">
                                <div>
                                    <strong class="col-md-2">Name:</strong>
                                    <span class="col-md-10">{{vms.name}}</span>
                                </div>
                                <div>
                                    <strong class="col-md-2">Description:</strong>
                                    <span class="col-md-10">{{vms.description}}</span>
                                </div>
                                <div>
                                    <strong class="col-md-2">iLab ID:</strong>
                                    <span class="col-md-10">{{vms.id}}</span>
                                </div>
                                <div>
                                    <strong class="col-md-2">Power:</strong>
                                    <span class="col-md-10">{{(vms.power>0)?'Running':'Stop'}}</span>
                                </div>
                                <div>
                                    <strong class="col-md-2">Config:</strong>
                                    <span class="col-md-10">{{vms.cups}}CPU,{{(vms.mem)/1024}}G</span>
                                </div>
                                <div>
                                    <strong class="col-md-2">OS:</strong>
                                    <span class="col-md-10">{{vms.os}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div ng-repeat="nics in vms.network">
                                    <strong class="col-md-2">Nic{{nics.interface}} Network:</strong>
                                    <span class="col-md-10">{{nics.label}}</span>
                                    <strong class="col-md-2">Nic{{nics.interface}} IP:</strong>
                                    <span class="col-md-10">{{nics.ip}}</span>
                                    <strong class="col-md-2">Nic{{nics.interface}} MAC:</strong>
                                    <span class="col-md-10">{{nics.ip}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <strong class="col-md-2">VMM:</strong>
                                <span class="col-md-10">{{vms.vmm}}</span>
                                <strong class="col-md-2">Disk 1:</strong>
                                <span class="col-md-10">{{vms.disk1}}</span>
                                <strong class="col-md-2">Creat Date:</strong>
                                <span class="col-md-10">{{vms.created_date}}</span>
                            </div>
                            <div class="form-group">
                                   <button class="btn btn-secondary col-md-offset-2" ng-click="VM.closePanel(vms.id)">Close</button>
                                
                            </div>
                        </form>
                    </div>
                </form>
            </tab>
            <tab disabled=" true " title="Delete VM ">
                <tab-heading>
                    <span class="intelicon-trash-outlined " ng-click="VM.openDeleteDialog(vms.id) "></span>
                </tab-heading>
            </tab>
        </tabset>
    </div>
</td>