<!--@Display the all environment list
    @yufan -->

<div class="all-env">
    <h1>My Environments</h1>   
    <button class="btn btn-primary" type="button" ng-click="isCollapsed=!isCollapsed">
        Add Env
    </button>
    <div ng-show="isCollapsed">
      <div class="well">
        <form class="form-horizontal default" name="newEnvForm">
            <div class="form-group">
                <label class="required">Name:</label>
                <input name="name" class="form-control" type="text" placeholder="Environment name" ng-model="Envlist.newEnv.name" required>
            </div>
            <div class="form-group">
                <label>Description:</label>
                <input name="description" class="form-control" ng-model="Envlsits.newEnv.description" placeholder="Description">
            </div>
            <p>Expiration: {{Envlist.newEnv.expDate| date: 'yyyy-MM-dd'}}</p>
            <div class="form-group">
                <button class="btn btn-primary" type="submit" ng-click="Envlist.addEnv()">Add</button>
                <button class="btn btn-secondary" type="button" ng-click="Envlists.cancelAdd()">Cancel</button>
            </div>
        </form>
        </div>
    </div>
    <div class="env-list">
        <ul>
            <li ng-repeat="env in Envlist.envs"> 
                    <!-- <div class="env" ui-sref="envBasicView"> -->
                <div class="env" ui-sref="envBasic({envId: env.summary.id})">
                        <h6>{{env.name}}</h6>
                        <p>expiey data:{{env.expiryDate}}</p>
                        <ol>   
                                <li> <i class="intelicon-server-solid"></i>Virtual Machines: {{env.summary.virtualMachines}} </li>
                                <li> <i class="intelicon-devices"></i>Physical Machines: {{env.summary.physicalMachines}} </li>
                                <li> <i class="intelicon-network"></i>Networks: {{env.summary.networks}} </li>
                                <li> <i class="intelicon-users-people-solid"></i>Users: {{env.summary.users}} </li>
                        </ol>  
                </div>  
            </li> 
         </ul>
    </div>
</div>

