 <!--link rel="stylesheet" href="deploy/form.css"-->

<table class="table table-bordered table-striped table-intel">
    <tr>
        <td colspan="7" class="table table-span-td">
            <div>
                <span class="intelicon-close-solid"  >
                </span>
                <tabset class="VMSettingTabs" type="pills">
                    <tab ng-click="onSelectToolTab(vm.id)" active="toolTab.active" title="Configure VM">
                        <tab-heading>
                            <span class="intelicon-tools"></span>
                        </tab-heading>
                    	 <form class="pure-form-aligned" id="config-vm" ng-submit="updateConfig(vm.id)">
                    	 	<div class="edit-virtual-machine">Edit Virtual Machine:</div>
                            <div class="pure-control-group"> 
                                <label for="vm-name">VM name:</label>
                                <input id="vm-name" type="text" placeholder="Virtual Machine 1" ng-model="configTmp.name" required />
                            </div>
                            <div class="pure-control-group">
                            	<label for="vm-description">Description:</label>
                            	<input id="vm-description" type="text" placeholder="Description" />
                            </div>
                            <div class="pure-control-group">
                                <label for="nic1">CPU:</label>
                                <ilab-dropdown lists="larr" attr-to-display="name" selected-list="model" list-open="false">{{larr}}</ilab-dropdown>
                            </div>
                       		<div class="pure-control-group">
                                <label>Memory:</label>
                                <ilab-dropdown lists="marr" attr-to-display="mem" selected-list="model2">{{marr}}</ilab-dropdown>
                            </div>
                            <div class="pure-control-group">
                           	 	<label for="nic1">Network:</label>
                                <ilab-dropdown lists="narr" attr-to-display="nic" selected-list="model3">{{narr}}</ilab-dropdown>
                            </div>
                            <div class="pure-control-group">
                                <span>
                                	<button class="btn btn-primary" type="button">Update</button>
                    				<button class="btn btn-secondary" type="button">Cancel</button>
                                </span>
                            </div>
                        </form>
                    </tab>
                    <tab ng-click="OnSelectTemplateTab(vm)" title="Save VM as template">
                        <tab-heading>
                            <span class="intelicon-save-solid"></span>
                        </tab-heading>
                    </tab>
                    <tab ng-click="onSelectInfoTab(vm.id)" title="VM Information">
                        <tab-heading>
                            <span class="intelicon-information-solid"></span>
                        </tab-heading>
                    </tab>
                        <tab disabled="true" title="Delete VM">
                        <tab-heading>
                            <span class="intelicon-trash-outlined"></span>
                        </tab-heading>
                    </tab>
                </tabset>   
            </div>
    </td>
</tr>
</table>
