<h1>iLab UI elements</h1>
<h3 class="page-header">ilabicon-*</h3>
<div class="icon-showbox">
    <span class="ilabicon-fail"></span>
    <i>fail</i>
</div>

<div class="icon-showbox">
    <span class="ilabicon-displaycolumn"></span>
    <i>displaycolumn</i>
</div>

<div class="icon-showbox">
    <span class="ilabicon-stop"></span>
    <i>stop</i>
</div>

<div class="icon-showbox">
    <span class="ilabicon-vm"></span>
    <i>vm</i>
</div>

<div class="icon-showbox">
    <span class="ilabicon-success"></span>
    <i>success</i>
</div>

<div class="icon-showbox">
    <span class="ilabicon-logo"></span>
    <i>logo</i>
</div>

<div class="clearfix"></div>

<h3 class="page-header">button</h3>
<button class="btn btn-approve">button</button>
<button class="btn btn-suspend">button</button>
<h3 class="page-header">dropdown button</h3>
<div class="dropdown inline">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        Dropdown
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
    </ul>
</div>
<div class="dropdown inline">
    <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
        Dropdown
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
    </ul>
</div>
<h3 class="page-header">select</h3>
<ilab-select list="Welcome.lists" attr-to-display="name" selected-item="Welcome.selected" with-search></ilab-select>selected:{{Welcome.selected}}
<h3 class="page-header">form (with class default)</h3>
<form class="default">
    <div class="form-group">
        <label class="require">name:</label>
        <input type="text" placeholder="input text..." class="form-control" required>
    </div>
    <div class="form-group">
        <label>age:</label>
        <input type="number" class="form-control" required>
        <div class="hint"><span class="intelicon-information-solid"></span>Don't tell them.</div>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<h3 class="page-header">inline form</h3>
<form class="form-inline default">
    <div class="form-group">
        <label class="require">name:</label>
        <input type="text" placeholder="input text..." class="form-control" required>
    </div>
    <div class="form-group">
        <label>age:</label>
        <input type="number" class="form-control" required>
        <div class="hint"><span class="intelicon-information-solid"></span>Don't tell them.</div>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<h3 class="page-header">horizontal form</h3>
<form class="form-horizontal default">
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label require">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email" required>
            <div class="hint"><span class="intelicon-information-solid"></span>Don't tell them.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember me
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Sign in</button>
        </div>
    </div>
</form>

<h3 class="page-header">tabs</h3>
<ul class="nav nav-tabs nav-tabs-intel" role="tablist">
    <li ng-class="{active: Welcome.activeTab === 1}" ng-click="Welcome.activeTab = 1"><a ui-sref="default">VM</a></li>
    <li ng-class="{active: Welcome.activeTab === 2}" ng-click="Welcome.activeTab = 2"><a ui-sref="default">PM</a></li>
    <li ng-class="{active: Welcome.activeTab === 3}" ng-click="Welcome.activeTab = 3"><a ui-sref="default">Network</a></li>
    
</ul>


<h3 class="page-header">expandable table with pagination</h3>
<table-column-filter columns="Welcome.columns" class="pull-right"></table-column-filter>
<table class="table table-bordered table-intel table-expandable">
    <thead>
        <tr>
            <th>#</th>
            <th ng-repeat="col in Welcome.columns" ng-if="col.enabled">{{col.display}}</th>
        </tr>
    </thead>
    <tbody>
        <tr dir-paginate-start="env in Welcome.envs | itemsPerPage: 3">
            <td><span class="intelicon-settings-solid clickable" ng-click="Welcome.collapse()"></span></td>
            <td ng-if="Welcome.columns[0].enabled">{{env.name}}</td>
            <td ng-if="Welcome.columns[1].enabled">{{env.owner}}</td>
            <td ng-if="Welcome.columns[2].enabled">{{env.maxAllowedVms}}</td>
            <td ng-if="Welcome.columns[3].enabled">{{env.deployedDate}}</td>
        </tr>
        <tr dir-paginate-end>
            <td colspan="5" class="td-collapsed">
                <div collapse="Welcome.collapsed">content</div>
            </td>
        </tr>
    </tbody>
</table>
<dir-pagination-controls max-size="5"></dir-pagination-controls>

<h3 class="page-header">alert</h3>
<button class="btn btn-success" ng-click="Welcome.show('success')">success</button>
<button class="btn btn-suspend" ng-click="Welcome.show('warning')">warning</button>
<button class="btn btn-danger" ng-click="Welcome.show('danger')">danger</button>

