<div>
	<div class="card" ng-class="{'on': info.powerStatus === 'ON', 'off': info.powerStatus === 'OFF', 'suspend': info.powerStatus === 'PAUSED'}" ng-click="toggle()" dropdown-toggle>
		<div ng-if="type === 'vm'">
			<div class="vm-status"></div>
			<div class="tag-icon inline">
				<span class="icon-color ilabicon-vm"></span>
			</div>
			<div class="tag-name inline">
				<span class="inline" title="{{info.name}}">{{info.name | truncateString:10}}</span>
			</div>
			<div class="inline pull-right">
				<img src="image/refresh_icon_18x18.gif" ng-show="isRunning(info.id)"/>
			</div>
		</div>
		<!--<div class="container-fluid" ng-if="type === 'pm'">-->
			<!--<div class="tag-icon inline">-->
				<!--<span class="icon-color ilabicon-pm"></span>-->
			<!--</div>-->
			<!--<div class="tag-name inline">-->
				<!--<span class="inline" title="physicaal machine 1">physicaal machi...</span>-->
			<!--</div>-->
			<!--<div class="inline pull-right">-->
				<!--<img src="image/refresh_icon_18x18.gif" ng-show="isRunning(info.id)"/>-->
			<!--</div>-->
		<!--</div>-->
	</div>
	<div class="info" ng-show="isShown">
		<div class="container-fluid" ng-if="type === 'vm'">
			<div class="row">
				<h5 class="info-title">{{info.name}}</h5>
				<i class="description">{{info.description || 'no description'}}</i class="description">
			</div>		
			<div class="row">
				<strong class="col-xs-4">Config:</strong>
				<span class="col-xs-7 col-xs-offset-1">{{info.cpus}}CPU, {{tmpMem}}</span>
			</div>
			<div class="row">
				<strong class="col-xs-4">IP:</strong>
				<span class="col-xs-7 col-xs-offset-1"><div ng-repeat="net in info.network">{{net.ip || 'NA'}}</div></span>
			</div>
			<div class="row">
				<strong class="col-xs-4">Network:</strong>
				<span class="col-xs-7 col-xs-offset-1"><div ng-repeat="net in info.network">{{net.subnet.name}}</div></span>
			</div>
		</div>
		<!--<div ng-if="type === pm">-->
			<!--<div class="row">-->
				<!--<div><h6 class="card-key container-fluid"><div>Physical Machine 1</div></h6></div>-->
				<!--<i class="description">{{info.description || 'no description'}}</i class="description">-->
			<!--</div>-->
			<!--<div class="row">-->
				<!--<strong class="col-xs-4">Reservation</strong>-->
				<!--<span class="col-xs-7 col-xs-offset-1">2015-08-11 08:00 to 09:00 </span>-->
			<!--</div>-->
			<!--<div class="row">-->
				<!--<strong class="col-xs-4" >IP:</strong>-->
				<!--<span class="col-xs-7 col-xs-offset-1">10.239.0.1</span>-->
			<!--</div>-->
			<!--<div class="row">-->
				<!--<strong class="col-xs-4">Network:</strong>-->
				<!--<div><span class="col-xs-7 col-xs-offset-1" >Subnet1</span></div>-->
			<!--</div>-->
		<!--</div>-->
		<div class="btn-operation">
			<button class="btn btn-default inline" ng-click="connect({id: info.id})" ng-disabled="isRunning(info.id)">Connect</button>
			<div class="dropdown clearfix btn-margin inline">
				<button class="btn dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-expanded="true" ng-class="{'btn-approve':info.powerStatus=='ON','btn-danger':info.powerStatus=='OFF','btn-suspend':info.powerStatus=='PAUSED'}" ng-disabled="isRunning(info.id) || info.status==='disable'">{{info.status}}<span class="caret change-margin"></span></button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
					<li role="presentation">
						<a role="menuitem" tabindex="-1" href ng-click="power({vm: info, option: 'powerOn'})"><span aria-hidden="true" class="intelicon-play"></span><span>Power On</span>
						</a>
					</li>
					<li role="presentation">
						<a class="stopIcon" role="menuitem" tabindex="-1" href ng-click="power({vm: info, option: 'powerOff'})"><span aria-hidden="true" class="ilabicon-stop"></span><span>Power Off</span>
						</a>
					</li>
					<li role="presentation">
						<a role="menuitem" tabindex="-1" href ng-click="power({vm: info, option: 'suspend'})"><span aria-hidden="true" class="intelicon-pause"></span><span>Suspend</span>
						</a>
					</li>
					<li role="presentation">
						<a role="menuitem" tabindex="-1" href ng-click="power({vm: info, option: 'restart'})"><span aria-hidden="true" class="intelicon-refresh"></span><span>Restart</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>