<div>
    <div class="card" ng-class="{'on': info.status === 'Running', 'off': info.status === 'Stopped', 'suspend': info.status === 'Suspended'}" ng-click="toggle()" dropdown-toggle>
        <span class="tag-icon" ng-class="{'ilabicon-vm': type === 'vm'}"></span>
        <div class="tag-name">
            <span title="{{info.name}}">{{info.name | truncateString: 13}}</span>
            <img src="image/refresh_icon_18x18.gif" ng-show="isRunning(info.id)" />
        </div>
    </div>
    <div class="info" ng-show="isShown">
        <h5 class="info-title">{{info.name}}</h5>
        <small>{{info.description}}</small>
        <div class="container-fluid" ng-if="type === 'vm'">
            <div class="row">
                <strong class="col-xs-4">Config:</strong>
                <span class="col-xs-7 col-xs-offset-1">{{info.cpus}}, {{info.mem}}</span>
            </div>
            <div class="row">
                <strong class="col-xs-4">IP:</strong>
                <span class="col-xs-7 col-xs-offset-1" ng-repeat="net in info.network">{{net.ip || 'NA'}}</span>
            </div>
            <div class="row">
                <strong class="col-xs-4">Network:</strong>
                <span class="col-xs-7 col-xs-offset-1" ng-repeat="net in info.network">{{net.subnet.name}}</span>
            </div>
        </div>
        <div ng-if="type === pm">
        </div>
        <div class="btn-operation">
            <button class="btn btn-default inline" ng-click="connect({id: info.id})" ng-disabled="isRunning(info.id)">Connect</button>
            <div class="dropdown clearfix inline">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-expanded="true" ng-class="{'btn-approve':info.status=='Running','btn-danger':info.status=='Stopped','btn-suspend':info.status=='Suspended'}" ng-disabled="isRunning(info.id) || info.status==='disable'">{{info.status}}<span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href ng-click="power({vm: info, option: 'powerOn'})"><span aria-hidden="true" class="intelicon-play"></span><span>Power On</span>
		                </a>
                    </li>
                    <li role="presentation">
                        <a class="stopIcon" role="menuitem" tabindex="-1" href ng-click="power({vm: info, option: 'powerOff'})"><span aria-hidden="true" class="ilabicon-stop"></span><span>Power Off</span>
		                </a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href ng-click="power({vm: info, option: 'suspend'})"><span aria-hidden="true" class="intelicon-pause"></span><span>Suspend</span>
		                </a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href ng-click="power({vm: info, option: 'restart'})"><span aria-hidden="true" class="intelicon-refresh"></span><span>Restart</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
