<div>
	<div class="card" ng-class="{'on': info.status === 'Running', 'off': info.status === 'Stopped', 'suspend': info.status === 'Suspend'}" ng-click="isShown = !isShown">
		<div class="tagIcon">
			<span ng-class="{'ilabicon-vm': type === 'vm'}"></span>
		</div>
		<div class="tagName">
			<span>{{info.name}}</span>
			<img src="images/refresh_icon_18x18.gif" ng-show="true"/>
		</div>
		
	</div>
	<div class="info" ng-show="isShown">
		<h2 class="infoTitle cardKey">{{info.name}}</h2>
		<small >{{info.description}}</small>

		<div class="container-fluid" ng-if="type === 'vm'">
			<div class="row">
				<strong class="col-md-2 col-sm-3 col-xs-3">Config:</strong>
				<span class="col-md-2 col-sm-4 col-xs-4 col-md-offset-3 col-sm-offset-2 col-xs-offset-2">{{info.config}}</span>
			</div>
			<div class="row">
				<strong class="col-md-2 col-sm-3 col-xs-3">IP:</strong>
				<span class="col-md-2 col-sm-4 col-xs-4 col-md-offset-3 col-sm-offset-2 col-xs-offset-2">{{info.ip}}</span>
			</div>
			<div class="row">
				<strong class="col-md-2 col-sm-3 col-xs-3">Network:</strong>
				<span class="col-md-2 col-sm-4 col-xs-4 col-md-offset-3 col-sm-offset-2 col-xs-offset-2">{{info.network}}</span>
			</div>
		</div>
		<div ng-if="type === pm">
		</div>
		<div class="btnOperation">
			<button class="btn btn-default btnLine" ng-click="connect({id: info.id})">Connect</button>
			<div class="dropdown clearfix btnLine">
			    <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" ng-class="{'play-btn':info.status=='Running','stop-btn':info.status=='Stopped','pause-btn':info.status=='Suspend'}" ng-disabled="vmIsInOperation(info.id)" style="margin-left: 6px;">
			        {{info.status}}
			       <span class="caret"></span>
			    </button>
			        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				        <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="powerOperation(info.id, 'powerOn')"><span aria-hidden="true" class="intelicon-play"></span>
		                        <span>Power On</span></a>
		                </li>
				        <li role="presentation"><a  class="stopIcon" role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="powerOperation(info.id, 'powerOff')"><span aria-hidden="true" class="ilabicon-stop" style="font-size:0.8em;"></span>
		                        <span>Power Off</span></a>
		                </li>
				        <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="powerOperation(info.id, 'suspend')"><span aria-hidden="true" class="intelicon-pause"></span>
		                        <span>Suspend</span></a>
		                </li>
		                <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="powerOperation(info.id, 'restart')" ng-show="info.status !='restart'"><span aria-hidden="true" class="intelicon-refresh"></span>
		                		<span>Restart</span></a>
		            	</li>
			        </ul>
		    </div>
		</div>
	</div>
		
</div>