<section class="ilab-menu intel-accordion">
    <h3 class="active">My iLab</h3>
    <ul class="active">
        <li><a class="intel-selected" ui-sref="envs">My Environment</a></li>{{$route}}
        <li><a ui-sref="lab">Lab</a></li>
    </ul>
    <h3 class="active">Group Resources</h3>
    <ul class="active">
        <li><a>Group Overview</a></li>
    </ul>
    <h3 class="active">Group Settings</h3>
    <ul class="active">
        <li><a>Group Options</a></li>
    </ul>
</section>
<div class="no"></div>
