<h1>My Environments</h1>
<div>
    <navbar>All Environments/Environment 1</navbar>
</div>

<div class="listEnv">
    <h3>Virtual Machine : 2</h3>  <!--{{vmCount}}-->
    <ul>
        <ilab-dialog-detail class="showDetail" show-dialog="vmAction">
                <div class="container-fluid">
                    <div class="row">
                        <h3 class="col-xs-12">Virtual Machine 1</h3>
                        <h5 class="col-xs-12">This a test of a directive</h5>
                    </div>
                    <div class="row">
                        <div class="col-xs-1">Config:</div>
                        <div class="col-xs-1 col-xs-offset-3">2CPU,4G</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1">IP:</div>
                        <div class="col-xs-1 col-xs-offset-3">10.239.00.01</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1">Network:</div>
                        <div class="col-xs-1 col-xs-offset-3">Subnet1</div>
                    </div>
                    <span><a ng-href="/#">Detail View</a></span></br>
                    <div class="row">
                        <button class="ilab-btn-normal" type="submit" formaction="#/" ng-disabled="vmIsInOperation(vm.id)">Connect</button> <!--ng-click="openConsole(vm.id)" ng-click="openConsole(vm.id)" ng-disabled="vmIsInOperation(vm.id)"-->
                        <div class="btn-group" dropdown>
                            <button class="intel-btn dropdown-toggle" class="play-btn" ng-class="{'play-btn':vm.statusDisplay=='Running','stop-btn':vm.statusDisplay=='Stopped','pause-btn':vm.statusDisplay=='Suspended'}" ng-disabled="vmIsInOperation(vm.id)" style="margin-left: 6px;margin-top: 3px">
                                Running
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="javascript:void(0)" >   <!--ng-click="powerOperation(vm.id, 'powerOn')"-->
                                        <span aria-hidden="true" class="intelicon-play"></span>
                                        <span>Power On</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" >
                                        <span class="ilabicon-poweroff"></span>
                                        <span>Power Off</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" >
                                        <span aria-hidden="true" class="intelicon-pause"></span>
                                        <span>Suspend</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" > <!--ng-click="powerOperation(vm.id, 'restart')" ng-show="vm.status !='restart'"-->
                                        <span aria-hidden="true" class="intelicon-refresh"></span>
                                        <span>Restart</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
        </ilab-dialog-detail>
    </ul>
</div>
