<h1>My Environments</h1>
<div>
    <navbar>All Environments/Environment 1</navbar>
</div>
<div>
    <span class="ilabicon-displaycolumn popupButton pull-right" data-target="#collapsePopup" aria-expanded="true" data-toggle="collapse">
    </span>
    <div class="fliter-popup collapse pull-right" id="collapsePopup" aria-controls="collapsePopup">
       <div class="container-fluid">
           <label class="row">
               display:
           </label>
           <div class="row">
               <ul>
                   <li>
                        <span>
                            <div class="intel-checkbox">
                                <input id="check1" type="checkbox" value="" ng-checked="" ng-click="" ng-disabled="">
                                <label for="check1"></label>
                            </div>
                        </span>
                       <span>
                           <strong>
                               Column1
                           </strong>
                       </span>
                   </li>
                   <li>
                        <span>
                            <div class="intel-checkbox">
                                <input id="check2" type="checkbox" value="" ng-checked="" ng-click="" ng-disabled="">
                                <label for="check2"></label>
                            </div>
                        </span>
                       <span>
                           <strong>
                               Column2
                           </strong>
                       </span>
                   </li>
               </ul>
               <hr class="hrdashed" />
               <div>
                   <button class="btn btn-primary" > update</button>
               </div>
           </div>
       </div>
    </div>
</div>
<div class="listEnv">
    <div>
        <h3>Virtual Machine: 5</h3>
    </div>  
            <info-card class="listVMs" type="vm" info="vm" on-connect="vmBasic.connect(id)" on-power="vmBasic.powerOperation(id,op)"  ng-repeat="vm in vmBasic.vms" ></info-card>
</div>
