<h1>My Environments</h1>
<div class="vm-multi">
<div>
    <ol class="breadcrumb">
      <li><a ui-sref="all-env">All Environment</a></li>
      <li class="active">Environment 1</li>
    </ol>
</div>
<!--
  <h3>Virtual Machine: 5</h3>
    </div>   -->
     <carousel>
            <slide  ng-repeat="vm in vmMulti.vms">
                <div class="caro">
                    <info-card class="listVMs" type="vm" info="item" on-connect="vmMulti.connect(id)" on-power="vmMulti.powerOperation(id,op)" ng-repeat="item in vm">
                     </info-card>    
                </div>              
            </slide>
        </carousel>
    </div>
</div>


